<ion-header>
  <ion-toolbar>
    <ion-title>Cursos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button tab="1º DAM">
        <ion-icon name="paper-plane-outline"></ion-icon>
        <ion-label>1º DAM</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="2º DAM">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label>2º DAM</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="FCT">
        <ion-icon name="construct-outline"></ion-icon>
        <ion-label>FCT</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
