<ion-header>
  <ion-toolbar>
    <ion-title>FCT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Ejemplo 1</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Texto de ejemplo1
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Ejemplo 2</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Texto de ejemplo2
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Ejemplo 2</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Texto de ejemplo
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light" href="facebook.com">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="twitter.com">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="youtube.com">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
